@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;

}


p,
h1,
h2,
h3,
h4,
h5 span {
    line-height: 1.5;
    font-weight: 700;
}


a,
li,
button {
    cursor: not-allowed;
}

p {
    color: #7c8ba1;
}

.purple {
    color: #6415ff;
}

h1,
h2 {
    color: #243E63;
    font-size: 48px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-weight: 600;
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

a {
    text-decoration: none;
    padding-bottom: 4px;
}

li {
    list-style-type: none;
}

.logo__img--link {
    font-size: 24px;
    font-weight: 800;
    display: flex;
    align-items: center;
    transition: all 300ms ease;
}

.logo__img--link:hover{
    color: #6415ff;
}

.logo__img {
    height: 40px;
    width: 40px;
    margin-right: 12px;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.section__title {
    font-weight: 900;
    width: 100%;
    margin: 16px 0;
}

.section__para {
    font-weight: 500;
}

.section__para--18px {
    font-size: 18px;
}

.section__para--16px {
    font-size: 16px;
}

.section__para--14px {
    font-size: 14px;
}

.section__span {
    letter-spacing: 2px;
}

.section__wrapper {
    display: flex;
    align-items: center;
}

.section__description--wrapper {
    width: 50%;
}

.section__description {
    width: 100%;
    padding: 32px;
}

.section__img--wrapper {
    width: 50%;
}

.section__img {
    width: 100%;
}

/* LANDING */

#landing{
    padding: 32px 32px 0 32px
}

.nav__container {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    margin: 0 24px;
    font-size: 14px;
    font-weight: 600;
}

.hover__effect--purple{
    border-bottom: 2px solid transparent;
    transition: all 300ms ease;
}


.hover__effect--purple:hover{
    border-bottom: 2px solid #6415ff;
    color:#6415ff;
}

.hover__effect--white {
    border-bottom: 2px solid transparent;
    transition: all 300ms ease;
}


.hover__effect--white:hover {
    border-bottom: 2px solid #f7fafc;
    color: #f7fafc;
}

ul {
    display: flex;
    align-items: center;
}

.btn {
    background-color: #6415ff;
    color: #f7fafc;
    border-radius: 28px;
    border: none;
    font-size: 14px;
    padding: 12px 32px;
    transition: all 300ms ease;
}

.btn:hover {
    background-color: #4517a1;
}

.nav__button {
    font-weight: 600;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.header__description--wrapper {
    width: 45%;
}

.header__description {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header__img--wrapper {
    width: 60%;
}

.header__img {
    width: 100%;
}

.header__para {
    font-size: 18px;
    font-weight: 400;
    margin: 32px 0;
    color: #243E63;
}

.header__input--wrapper {
    position: relative;
    max-width: 460px;
}



.header__input:placeholder-shown {
    font-weight: 500;
    opacity: 0.5;
}

.header__input {
    font-size: 100%;
    width: 100%;
    outline: none;
    border-radius: 100px;
    border: 2px solid rgba(128,128,128, 0.3);
    padding: 20px 200px 20px 32px;
    transition: all 300ms ease;
}

.header__input:hover{
    border: 2px solid rgba(128,128,128);
}
.header__input:focus{
    border: 2px solid #6415ff;
    opacity: 1;
}
.header__input--button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 36px;
    margin: 8px;
    font-weight: 700;
    font-size: 100%;
}

.header__companies {
    opacity: 0.5;
    margin-top: 80px;
}

.header__companies--para {
    font-size: 12px;
}

.company__logo--img {
    width: 80%;
    margin: 16px 0;
}

/* FEATURES */

#features{
    padding: 0 32px;
}

.section__description--center {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.features__para {
    max-width: 548px;
    font-size: 18px;
}

.features__services--service--img {
    border: 1px solid rgb(226, 232, 240);
    padding: 20px;
    border-radius: 100px;
    align-self: start;
}

.features__services--service {
    display: flex;
    align-items: center;
    width: calc(100% /3);
    padding: 32px 20px;
}

.service__text--wrapper {
    padding-left: 16px;
    display: flex;
    flex-direction: column;
}

.features__services--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    width: 100%;
    max-width: 1024px;
}

.service__para {
    margin-top: 16px;
    line-height: 2;
    max-width: 200px;
}

/* QUALITY SECTION */

#quality{
    padding: 0 32px;
}

.quality__img {
    border: 1px solid rgb(226, 232, 240)
}

.quality__button {
    margin-top: 32px;
    font-weight: 700;
}

.quality__para {
    font-size: 18px;
    max-width: 580px;
}

/* STEPS SECTION */

#steps{
    padding:0 32px
}

.steps__number {
    font-size: 36px;
    color: #cbd5e0;
    font-weight: 600;
    margin-right: 24px;
}

.steps__wrapper {
    display: flex;
    margin-top: 32px
}

.step__para {
    font-size: 14px;
    max-width: 320px;
    font-weight: 500;
    color: #718096;
    margin-top: 12px;
}

.steps__description {
    padding-left: 64px;
}

/* VALUES SECTION */

#values{
    padding: 0 32px;
}

.values__principles--wrapper {
    display: flex;

}

.values__principle--wrapper {
    margin-top: 32px;
}

.principle__title--wrapper {
    display: flex;
}

.fa-dollar-sign {
    color: rgb(39 103 73);
}

.fa-suitcase {
    color: rgb(155 44 44);
}

.dollar__img {
    background-color: rgb(154 230 180);

}

.suitcase__img {
    background-color: rgb(254 178 178);
}

.principle__img {
    width: 36px;
    height: 36px;
    padding: 8px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px
}

.principle__para {
    max-width: 280px;
    color: #718096;
    font-weight: 400;
    margin-top: 16px;
}

.values__button {
    margin-top: 48px;
    font-weight: 700;
}

/* PRICES SECTION */

#pricing{
    padding: 0 32px;
}

.prices__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.price__wrapper {
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
    border-radius: 8px;
    border-top: none;
    border: 2px solid rgb(226, 232, 240);
    margin: 64px 24px 0 0;
    text-align: center;
    padding: 8px 32px 0 32px;
    max-width: 400px;
}

.price__personal {
    border-top: 8px solid rgb(56, 178, 172);

}

.price__business {
    background-color: rgb(100 21 255);
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.price__enterprise {
    border-top: 8px solid rgb(245, 101, 101);
}

.price__amount--wrapper {
    padding: 32px 0;
    display: flex;
    flex-direction: column;
    line-height: 1.625;
}

.price__description--wrapper {
    padding: 32px;
    color: #718096;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgb(226, 232, 240);
    border-top: 2px solid rgb(226, 232, 240);
    border-color: rgb(226, 232, 240);
    margin-left: -32px;
    margin-right: -32px;
}

.price__button--wrapper {
    padding: 32px 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.amount__individual--description {
    font-weight: 500;
    margin-top: 20px;
}

.business__heading--color {
    color: #f7fafc
}

.business__description--color {
    color: #e2e8f0;
}

.pricing__button {
    padding: 16px 32px;
    border-radius: 28px;
    width: 100%;
    max-width: 200px;
    border: none;
    font-weight: 700;
    font-size: 14px;
}

.personal__btn {
    color: rgb(247 250 252);
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.business__btn {
    background-color: rgb(247 250 252);
    color: rgb(100 21 255);
}

.enterprise__btn {
    color: rgb(247 250 252);
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.amount__dollar--amount {
    margin: 4px 0;
}

.amount__billing {
    color: #a0aec0;

}

.button__effect{
    transition: all 600ms ease;
}

.button__effect:hover{
    transform: translateX(6px);
    box-shadow: -4px 12px 24px rgba(0, 0, 0, 0.26);
}
/* TESTIMONIAL SECTION */

#testimonials{
    padding: 0 32px;
}

.testimonial__description--para {
    font-weight: 500;
}

.testimonial__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px
}

.testimonial__ratings {
    color: rgb(246 173 85);
}

.testimonial__rating--title {
    font-weight: 700;
    margin-top: 16px;
}

.testimonial__para {
    margin: 16px 0 40px 0;
    font-weight: 500;
    line-height: 1.625;
    color: #4a5568;
}

.testimonial__person--nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.testimonial__person--wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial__person--mask {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.testimonial__person--picture {
    width: 100%;
}

.person__name--wrapper {
    margin-left: 24px
}

.person__name {
    font-weight: 700;

}

.person__role {
    font-weight: 500;
    color: #7c8ba1;
}

.fa-arrow-left {
    color: rgb(100 21 255);
}

.fa-arrow-right {
    color: rgb(100 21 255);
}

.testimonial__button {
    padding: 16px;
    background-color: #edf2f7;
    border: none;
    border-radius: 50%;
    margin: 0 12px;
}

/* GET STARTED SECTION */
#get__started{
    margin-bottom: 96px;
    padding: 0 32px;
}
.started__wrapper {
    background-color: rgb(100 21 255);
    border-radius: 8px ;
    padding: 96px;
}

.started__content{
    display: flex;
    align-items: center;
    max-width: 1024px;
    padding: 0 32px;
}

.started__description{
    max-width: 512px;
    width: 100%;
}

.started__description--para{
    font-size: 30px;
    color: #f7fafc;
    font-weight: 700;
}

.started__buttons--wrapper{
width: 100%;
  display: flex;
  justify-content: flex-end;
}

.get__started--button{
     padding: 20px 40px;
     background-color: rgb(245 101 101);
     color: #f7fafc;
     border-radius: 100px;
     border: 1px solid transparent;
     font-size: 16px;
     font-weight: 700;
     margin-right: 32px;
     transition: all 300ms ease;
}

.get__started--button:hover{
    background-color: rgb(250, 51, 51);
}

.contact__us--button{
    padding: 20px 40px;
    color: #f7fafc;
    background-color: transparent;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid rgb(160 174 192);
    transition: all 300ms ease;
}

.contact__us--button:hover{
    background-color: #f7fafc;
    color: #6415ff;
}

/* FOOTER */

footer{
    background-color: rgb(100 21 255);
    color: #f7fafc;
}

.links__wrapper{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: center;
}

.link__wrapper{
    display: flex;
    flex-direction: column;
}

.footer__links--list{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}
.footer__link{
    color: #f7fafc;
    font-size: 14px;
    font-weight: 500;
}

.footer__link--list{
    margin-top: 12px;
}

.footer__line{
    margin: 64px 0;
    border: 1px solid rgb(116 44 255);
    width: 100%;
}

.footer__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo{
    display: flex;
    align-items: center;
}

.footer__logo--img{
    width: 32px;
    height: 32px;
}

.footer__logo--name{
    font-weight: 900;
    margin-left: 8px;
}

.footer__copyright{
    color: #cbd5e0;
}

.footer__socials--wrapper{
    display: flex;
    align-items: center;
}

.social__img--wrapper:hover{
    opacity: 0.8;
}

.social__img--wrapper{
    border-radius: 50%;
    display: flex;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #f7fafc;
    transition: opacity 300ms ease;
}

.social__img--wrapper:not(:last-child){
    margin-right: 16px;

}

.social__icon{
    padding: 8px;
}