@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;

}

body {
    padding: 32px;
}

p,
h1,
h2,
h3,
h4,
h5
span {
    line-height: 1.5;
    font-weight: 700;
}

a,li,button{
    cursor: not-allowed;
}

p {
    color: #7c8ba1;
}

.purple {
    color: #6415ff;
}

h1,
h2 {
    color: #243E63;
    font-size: 48px;
}

h3 {
    font-size: 24px;
}

h4{
    font-weight: 600;
    font-size: 20px;
}

h5{
    font-size: 16px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.logo__img--link {
    font-size: 24px;
    font-weight: 800;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: not-allowed;
}

.logo__img {
    height: 40px;
    width: 40px;
    margin-right: 12px;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.section__title {
    font-weight: 900;
    width: 100%;
    margin: 16px 0;
}

.section__para {
    font-weight: 500;
}

.section__para--18px {
    font-size: 18px;
}

.section__para--16px {
    font-size: 16px;
}

.section__para--14px {
    font-size: 14px;
}

.section__span {
    letter-spacing: 2px;
}

.section__wrapper{
   display: flex;
   align-items: center;
}

.section__description--wrapper{
    width: 50%;
}
.section__description{
    width: 100%;
    padding: 32px ;
}
.section__img--wrapper{
    width: 50%;
}

.section__img {
    width: 100%;
}

/* LANDING */

.nav__container {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    margin: 0 24px;
    font-size: 14px;
    font-weight: 600;
}

ul {
    display: flex;
    align-items: center;
}

.btn {
    background-color: #6415ff;
    color: #f7fafc;
    border-radius: 28px;
    border: none;
    font-size: 14px;
    padding: 12px 32px;
}

.btn:hover {
    background-color: #331079;
}

.nav__button {
    font-weight: 600;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.header__description--wrapper {
    width: 45%;
}

.header__description {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header__img--wrapper {
    width: 60%;
}

.header__img {
    width: 100%;
}

.header__para {
    font-size: 18px;
    font-weight: 400;
    margin: 32px 0;
    color: #243E63;
}

.header__input--wrapper {
    position: relative;
    border-radius: 100px;
    border: 2px solid rgba(128, 128, 128, 0.3);
    overflow: hidden;
    max-width: 460px;
}

.header__input--wrapper:hover {
    border: 2px solid rgba(0, 0, 0, 0.377);
}

.header__input:placeholder-shown {
    font-weight: 500;
    opacity: 0.25;
}

.header__input {
    font-size: 100%;
    outline: none;
    border: none;
    padding: 20px 32px;

}

.header__input--button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 36px;
    margin: 8px;
    font-weight: 700;
    font-size: 100%;
}

.header__companies {
    opacity: 0.5;
    margin-top: 80px;
}

.header__companies--para {
    font-size: 12px;
}

.company__logo--img {
    width: 80%;
    margin: 16px 0;
}

/* FEATURES */

.section__description--center {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.features__para {
    max-width: 548px;
    font-size: 18px;
}

.features__services--service--img {
    border: 1px solid rgb(226, 232, 240);
    padding: 20px;
    border-radius: 100px;
    align-self: start;
}

.features__services--service {
    display: flex;
    align-items: center;
    width: calc(100% /3);
    padding: 32px 20px;
}

.service__text--wrapper {
    padding-left: 16px;
    display: flex;
    flex-direction: column;
}

.features__services--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    width: 100%;
    max-width: 1024px;
}

.service__para {
    margin-top: 16px;
    line-height: 2;
    max-width: 200px;
}

/* QUALITY SECTION */

.quality__img{
    border: 1px solid rgb(226, 232, 240)
}

.quality__button{
    margin-top: 32px;
    font-weight: 700;
}
.quality__para{
    font-size: 18px;
    max-width: 580px;
}

/* STEPS SECTION */
.steps__number{
    font-size: 36px ;
    color: #cbd5e0;
    font-weight: 600;
    margin-right: 24px;
}
.steps__wrapper{
    display: flex;
    margin-top: 32px
}

.step__para{
    font-size: 14px;
    max-width: 320px;
    font-weight: 500;
    color: #718096;
    margin-top:12px;
}

.steps__description{
    padding-left: 64px;
}

/* VALUES SECTION */

.values__principles--wrapper{
    display: flex;
    
}
.values__principle--wrapper{
    margin-top: 32px;
}

.principle__title--wrapper{
    display: flex;
}

.fa-dollar-sign {
    color: rgb(39 103 73);
}

.fa-suitcase{
    color: rgb(155 44 44);
}
.dollar__img{
    background-color: rgb(154 230 180);

}

.suitcase__img{
    background-color: rgb(254 178 178);
}
.principle__img{
    width: 36px;
    height: 36px;
    padding: 8px;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px
}

.principle__para{
    max-width: 280px;
    color: #718096;
    font-weight: 400;
    margin-top: 16px;
}